.home-page {
    height: fit-content;
}

.hero {
    height: 80vh;
    background: url("../../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* 
#f9fafb
#0a204f
#111827
*/

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 4rem;
    width: fit-content;
}

.hero-title {
    font-size: 7.5ch;
    color: #f9fafb;
}

.hero-subtitle {
    color: #f9fafb;
}

.brand {
    font-weight: 900;
}

.hero button {
    width: fit-content;
    background: #111827;
    border: 3px solid #f9fafb;
    color: #f9fafb;
    padding: 1rem;
    font-size: 2ch;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem auto 0 auto;
}

.featured {
    background-color: #f9fafb;
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.featured h2 {
    font-size: 5ch;
    color: #111827;
    margin-top: 2rem;
}

.featured-cards {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    width: 100%;
}

.featured-card {
    background-color: #f9fafb;
    height: 80%;
    width: 25vw;
    border-radius: 1rem;
    box-shadow: 4px 8px 12px 8px #0000001f;
    transition: transform 0.3s ease;
}

.featured-card:hover {
    transform: scale(1.025);
}

.featured-card .image-box {
    width: 100%;
    height: 40%;
}

.image-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem 1rem 0 0;
}

.featured-card:nth-of-type(1) .image-box {
    background-image: url("../../images/bali.jpg");
}

.featured-card:nth-of-type(2) .image-box {
    background-image: url("../../images/hawaii.jpg");
}

.featured-card:nth-of-type(3) .image-box {
    background-image: url("../../images/maldives.jpg");
}

.content-box {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 60%;
}

.featured-card h3 {
    text-align: center;
    color: #111827;
    font-size: 3ch;
    margin-top: 0.5rem;
}

.featured-card .description {
    text-align: center;
    font-size: 1.5ch;
    color: #0a204f;
}

.featured-card .rating {
    margin-top: auto;
    text-align: center;
    color: #0a204f;
}

.featured-card button {
    background: none;
    border: 2px solid #0a204f;
    color: #0a204f;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.featured-card button:hover {
    background: #0a204f;
    border: 2px solid #f9fafb;
    color: #f9fafb;
}

@media (max-width: 768px) {
    .featured {
        height: fit-content;
        width: 100%;
    }

    .featured h2 {
        text-align: center;
    }

    .featured-cards {
        height: fit-content;
        flex-direction: column;
        width: 90%;
    }

    .featured-card {
        height: 60vh;
        width: 100%;
    }

    .featured-card h3 {
        font-size: 4ch;
    }

    .featured-card .description,
    .featured-card .rating,
    .featured-card button {
        font-size: 2.5ch;
    }
}