.error-page {
    padding: 2rem;
    background-color: #0a204f;
    height: 100vh;
    width: 100%;
    color: #f9fafb;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.error-page h1 {
    font-size: 7.5ch;
}

.error-page h2 {
    font-size: 3ch;
}

.error-page p {
    font-size: 2ch;
}

.error-page button {
    background: none;
    outline: none;
    border: 3px solid #f9fafb;
    color: #f9fafb;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    font-size: 2ch;
    margin-top: 1rem;
}

.error-page button:hover {
    border: 3px solid #0a204f;
    color: #0a204f;
    background-color: #f9fafb;
}

@media (max-width: 768px) {
    .error-page {
        padding: 1rem;
    }
}