.contact-page {
    min-height: 100vh;
    padding: 2rem;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-header h1 {
  font-size: 2.5rem;
  color: #111827;
}

.contact-page p {
  color: #0a204f;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.contact-info-row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 2.5ch;
}

.contact-text {
    font-size: 2ch;
    margin-top: 4rem;
}