nav {
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-logo {
    height: 85%;
    width: auto;
    cursor: pointer;
    margin-left: 10%;
}

.nav-title {
    color: white;
    font-size: 2.5ch;
    margin-left: 2.5%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.5%;
}

.nav-link {
    margin: 0 5%;
}

.nav-link:hover {
    opacity: 0.8;
}

.nav-link a {
    color: white;
    text-decoration: none;
}
